<mat-toolbar color="primary">
  <a [routerLink]="rootPath">
    <img width="50px" src="../favicon.ico">
  </a>
  <a [routerLink]="rootPath">{{title}}</a>
  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <fa-icon [icon]="faUser"></fa-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>arrow_forward</mat-icon>
      <span>Iniciar Sesión</span>
    </button>
    @if(userSigned){
      <button mat-menu-item disabled>
        <mat-icon>account_circle</mat-icon>
        <span>Mi perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon>subdirectory_arrow_left</mat-icon>
        <span>Salir</span>
      </button>
    }
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
