<main class="container-root">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile colspan="1" rowspan="2">
      <section class="travel-container">
        <h3 style="text-align: center;">Elige tu proximo destino</h3>
        <form class="travel-form">
          <mat-form-field class="travel-selector">
            <mat-label>Seleccionar viaje</mat-label>
            <input type="text"
                   placeholder="Destino"
                   aria-label="Number"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              @for (option of filteredOptions | async; track option) {
                <mat-option [value]="option.destination">{{option.destination}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </form>

        @if(travelSelected.id != 0){
          <div>
            <h4 style="text-align: center;">Información del recorrido</h4>
            <p>Destino: {{travelSelected.destination}}</p>
            <p>Fecha de Salida: {{travelSelected.departureDateTime && travelSelected.departureDateTime.length > 0 ? travelSelected.departureDateTime.split("T")[0] : null}}</p>
            <p>Hora de Salida: {{travelSelected.departureDateTime && travelSelected.departureDateTime.length > 0 ? travelSelected.departureDateTime.split("T")[1] : null}}</p>
            <p>Costo: {{travelSelected.cost}} USD</p>
            <p>Limite de pasajeros: {{travelSelected.passengersLimit}}</p>
            <p>Cantidad de asientos disponibles: {{travelSelected.availableSeatsNumber}}</p>
            <div class="button-container">
              <button
                style="text-align: center;"
                mat-fab extended color="primary"
                (click)="openModal(longContent)"
                >
                <mat-icon>directions_boat</mat-icon>
                Elegir viaje
              </button>
            </div>
          </div>
        }
      </section>
    </mat-grid-tile>
    <!-- <mat-grid-tile colspan="1" rowspan="1">
      <ticket-widget [reloadWidget]="reloadWidget"/>
    </mat-grid-tile> -->
    <mat-grid-tile colspan="1" rowspan="1">
      <section class="register-container">
        <h2 style="text-align: center;">Iniciar sesión</h2>
        <login id="login-component"></login>
      </section>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <section class="register-container">
        <h2 style="text-align: center;">Registrar usuario</h2>
        <register id="register-component"></register>
      </section>
    </mat-grid-tile>
  </mat-grid-list>

  <ng-template #longContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Datos de reserva</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submitForm()" ngNativeValidate>
        <div class="mb-3">
          <label for="inputName" class="form-label">Nombres y apellidos</label>
          <input [(ngModel)]="userTicketForm.name" name="name" type="text" class="form-control" id="inputName" placeholder="Pepito perez" required>
        </div>
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Correo Electrónico</label>
          <input [(ngModel)]="userTicketForm.email" name="email" type="email" class="form-control" id="inputEmail" placeholder="nombre@ejemplo.com" required>
          @if(errorMessage.length > 0){
            <div>
              {{errorMessage}}
            </div>
          }
        </div>
        <div class="mb-3">
          <label for="inputName" class="form-label">Número de documento</label>
          <input [(ngModel)]="userTicketForm.documentNumber" name="documentNumber" type="text" class="form-control" id="inputDocumentNumber" placeholder="123456789" required>
        </div>
        <div class="mb-3">
          <label for="inputTel" class="form-label">Teléfono</label>
          <input [(ngModel)]="userTicketForm.phone" name="phone" type="tel" class="form-control" id="inputTel" placeholder="1234567890">
        </div>
        <mat-checkbox [(ngModel)]="ticketForm.returns" name="returns" [ngModelOptions]="{standalone: true}">¿Ida y vuelta?</mat-checkbox>
        <div class="d-flex justify-content-center">
          <button [disabled]="showSpinner" type="submit" mat-raised-button color="primary">Reservar</button>
        </div>
      </form>
    </div>
  </ng-template>

  <spinner [show]="showSpinner" [message]="spinnerMessage"></spinner>
</main>
