<main class="container-fluid my-2">
  <mat-grid-list cols="2" rowHeight="2:1.6">
    <mat-grid-tile colspan="1" rowspan="1">
      <section style="width: 90%; height: 100%; overflow: auto;">
        <h3 style="text-align: center;">Registrar naves</h3>
        <create-ships/>
      </section>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <section style="width: 90%; height: 100%; overflow: auto;">
        <h3 style="text-align: center;">Registrar viajes</h3>
        <create-travels/>
      </section>
    </mat-grid-tile>
  </mat-grid-list>
</main>
